@media screen and (max-width: 1300px) {
    .profile_left figure {
        height: 60%;
    }
    .profile_right .profile_rt_up {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .skill_wrap h1 {
        font-size: 3vh;
        padding: .2em 0;
    }
    .skill_list_wrap ul li { font-size: 32px; }
    .skill_list_wrap ul li span.skill_num { font-size: 18px; }
    .project_wrap h1 { font-size: 3vh; }
    .project_list_wrap li .project_img span { font-size: 1.9em;}
}

@media screen and (max-width: 1100px) {
    .logo a {
        width: 60px; height: 60px;
    }
    .main_wrap article {
        font-size: 64px;
    }
    .profile_right .profile_rt_up p{
        font-size: 16px;
    }
    .profile_right .profile_rt_dw {
        font-size: 14px;
    }
    .skill_list_wrap ul li {
        font-size: 24px;
        padding: 15px 0;
    }
    .skill_list_wrap ul li div.skill_bar,
    .skill_bar span  {
        height: 24px;
    }
    .project_list_wrap li .project_img span {
        font-size: 1.3em;  
    }
    .project_list_wrap li .project_desc p {
        font-size: 1.2em;
        line-height: 2em;
    }
}

@media screen and (max-width: 870px) {
    .main_wrap article {
        width: 800px; 
        margin-left: -400px; 
        font-size: 54px; 
    }
    .main_wrap article.main_back {
        margin-top: -76px; 
        margin-left: -394px; 
    }
    .profile_wrap {flex-direction: column;}
    .profile_left {width: 100%; height: 45%;}
    .profile_right {width: 100%; height: 55%;}
    .profile_left figure { 
        height: 100%; 
        display: flex; 
        justify-content: center;
    }
    .profile_left figure img {
        width: auto; 
        background-size: cover; 
        position: inherit; 
         left: 0;
    }
    .profile_right .profile_rt_up h2 {
        font-size: 20px;
    }
    .profile_right .profile_rt_up p {
        font-size: 12px;
    }
    .profile_right .profile_rt_dw {
        font-size: 12px;
    }
    .skill_list_wrap ul li { font-size: 20px; padding: 10px 0;}
    
}

@media screen and (max-width: 768px) {
    
}


@media screen and (max-width: 600px ) {
    .profile_right .profile_rt_up h2 strong {
        font-size: 24px;
    }
    .skill_wrap, .project_wrap, .contact_wrap {width: 85%;}
    .skill_wrap h1, .project_wrap h1 {font-size: 2em;}

    .skill_list_wrap ul {padding: 0.5em 1em;}
    .skill_list_wrap ul li {font-size: 12px;}
    .skill_list_wrap ul li div.skill_bar, .skill_bar span {height: 16px;}
    .skill_list_wrap ul li span.skill_num {font-size: 12px;}
    
    .project_list_wrap li {flex-wrap:wrap; padding: 5em 0;}
    .project_list_wrap li .project_desc p {font-size: 1.1em; }
    .project_list_wrap li .project_img span {font-size: 1.2em; font-weight: bold; word-break: keep-all;}


    .project_img, .project_desc { width: 100% !important}
    .project_img {
        padding-bottom: 1.5em;
    }
    .project_img a {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project_list_wrap li .project_img img { 
        display: block; 
        width: 50%; 
        text-align: center;
    }
    .project_list_wrap li:nth-child(2n) .project_img,
    .project_list_wrap li:nth-child(2n+1) .project_img {margin: 0;}


    .contact_list_wrap {
        flex-direction: column;
        align-items: center;
    }
    .contact_wrap p {font-size: 1.8em;}
    .contact_list_wrap a { 
        display: block;
        width: 100%;
        font-size: 1.2em; margin: 0;}
}